# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    docker:
      - image: circleci/node:stretch
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: |
                echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
                docker image build -t toonhudsha/app:0.0.0 .
                docker image push to toonhudsha/app:0.0.0
workflows:
  build-and-test:
    jobs:
        - build-and-test