version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
  dockerized:
    machine: true
    steps:
      - checkout
      - run: |
         TAG=0.1.$CIRCLE_BUILD_NUM
         docker build -t $DOCKER_USER/build_by_ci:$TAG .
         echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
         docker push image $DOCKER_USER/build_by_ci:$TAG
workflows:
    build-and-test:
      jobs:
        - build-and-test
        - dockerized

